body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: #163457 url("/images/bg/body_bg.png") repeat-x top center;
	color: white;
	font-family: "Lucida Grande","Lucida Sans",lucida,verdana,sans-serif;
	font-size: 12px;
}

body * {
	margin: 0;
	padding: 0;
}


h2 {
	font-family: Georgia;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 0.8em;
	line-height: 110%;
}

h2 span {
	font-size: 80%;
	
}


a {
	color: white;
}



ul {
	padding-left: 25px;
	margin-bottom: 1.5em;
}

ul li {
	margin-bottom: 1em;
	
}



#wrapper {
	background: transparent url("/images/bg/wrapper_bg.png") no-repeat center top;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}


#header {
	padding-top: 25px;
	height: 250px;
}


#logo {
	width: 391px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

#logo h1 a {
	display: block;
	width: 391px;
	height: 100px;	
	background: transparent url("/images/misc/logo.png") no-repeat left top;
	text-indent: -1000px;
	overflow: hidden;
}

p.tagline {
	font-size: 18px;
	text-align: center;
	margin-bottom: 15px;
}

#search {
	background-color: #182945;
	padding: 15px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

#search form {
	margin-bottom: 5px;
}

#search form input {
	font-size: 18px;
	vertical-align: middle;
	margin-right: 5px;
}

#search form input#s {
	width: 200px;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #000;
	color: #999;
}

#search form input#s span {
	color: #999;
}



#main {
	text-align: left;
	padding-bottom: 20px;
	width: 960px;
	min-height: 400px;
}

div.column {
	width: 300px;
	float: left;
	display: inline;
	min-height: 250px;
}

div.column#left, div.column#middle {
	margin-right: 30px;
}



p {
	margin-bottom: 0.8em;
	
}

.lightblue {
	color: #345983;
}

.lighterblue {
	color: #95ABC3;
}

.small {
	font-size: 85%;
}

p.no_margin {
	margin: 0;
}

a.gem {
	font-size: 120%;
}

.rounded {
	-moz-border-radius: 6px; /* this works only in camino/firefox */
	-webkit-border-radius: 6px; /* this is just for Safari */
}

span.works, span.fails {
	color: white;
	padding: 2px 5px;
	font-size: 10px;
	text-transform: uppercase;
	-moz-border-radius: 2px; /* this works only in camino/firefox */
	-webkit-border-radius: 2px; /* this is just for Safari */
}

span.works {
	background-color: #66CC00;
}

span.fails {
	background-color: #cc0000;
}
span.white {
	color: white;
}

div.comment {
  color: #95ABC3;
	background-color: #345983;
	margin-bottom: 12px;
	padding: 12px 12px;
	min-height: 55px;
}

div.comment p {
	font-size: 12px;
	margin-left: 65px;
	line-height: 160%;
	margin-bottom: 0;
}

#footer {
	width: 100%;
	clear: both;
}

img.gravatar {
	padding: 1px;
	border: 1px solid #95ABC3;
	float: left;
	display: inline;
}
