body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: #163457 url("/images/bg/body_bg.png") repeat-x top center;
	color: white;
	font-family: "Lucida Grande","Lucida Sans",lucida,verdana,sans-serif;
	font-size: 12px;
}

body * {
	margin: 0;
	padding: 0;
}


/*********** LINK STYLES *************/

a {
	color: white;
}

a.gem {
	font-size: 120%;
}

/*********** HEADINGS *************/

h1.code_title {
	font-family: Georgia;
	font-weight: normal;
	font-size: 40px;
	margin-bottom: 21px;
}

h2 {
	padding-top: 0.3em;
	font-family: Georgia;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 0.7em;
	line-height: 110%;
}

h2 span {
	font-size: 80%;
}


/********** MISC HTML STYLES ************/


p {
	margin-bottom: 0.9em;	
}

ul {
	padding-left: 25px;
	margin-bottom: 1.5em;
}

ul li {
	margin-bottom: 1em;
	line-height: 135%;
}

img, a img {
	border: 0;
}


/*********** LAYOUT *************/

#wrapper {
	background: transparent url("/images/bg/wrapper_bg.png") no-repeat center top;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	padding-top: 25px;
	height: 240px;
}

#main {
	text-align: left;
	padding-bottom: 20px;
	width: 960px;
	min-height: 400px;
}

div.column {
	width: 300px;
	float: left;
	display: inline;
	min-height: 250px;
}

div.column#left, div.column#middle {
	margin-right: 30px;
}

#footer {
	width: 100%;
	clear: both;
}


/********* LOGO ************/

#logo {
	width: 391px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

#logo h1 a {
	display: block;
	width: 391px;
	height: 100px;	
	background: transparent url("/images/misc/logo.png") no-repeat left top;
	text-indent: -1000px;
	overflow: hidden;
}

p.tagline {
	font-size: 18px;
	text-align: center;
	margin-bottom: 15px;
}


/********* SEARCH BOX **************/

#search {
	background-color: #182945;
	padding: 15px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

#search form {
	margin-bottom: 5px;
}

#search form input {
	font-size: 18px;
	vertical-align: middle;
	margin-right: 5px;
}

#search form input#s {
	width: 200px;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #000;
	color: #999;
}

#search form input#s span {
	color: #999;
}


/********* PAGINATION **************/

div.pagination {
	padding: 10px 0;
	font-size: 13px;
	text-align: center;
	color: #4A6F97;
	margin-bottom: 30px;
}

div.pagination a, div.pagination span {
	padding: 3px 2px;
}

div.pagination span.current {
	color: white;
	font-size: 27px;
}


/******** CLASSES *********/

.lightblue {
	color: #345983;
}

.lighterblue {
	color: #95ABC3;
}

.small {
	font-size: 85%;
}

p.no_margin {
	margin: 0;
}

.rounded {
	-moz-border-radius: 6px; /* this works only in camino/firefox */
	-webkit-border-radius: 6px; /* this is just for Safari */
}

span.works, span.fails {
	color: white;
	padding: 2px 5px;
	font-size: 10px;
	text-transform: uppercase;
	-moz-border-radius: 2px; /* this works only in camino/firefox */
	-webkit-border-radius: 2px; /* this is just for Safari */
}

span.works {
	background-color: #66CC00;
}

span.fails {
	background-color: #cc0000;
}
span.white {
	color: white;
}


/********* COMMENTS ************/

div.comment {
  color: #95ABC3;
	background-color: #345983;
	margin-bottom: 12px;
	padding: 12px 12px;
	min-height: 55px;
	max-width: 600px;
}

div.comment > p, div.comment blockquote {
	font-size: 12px;
	margin-left: 65px;
	margin-bottom: 0;
}

div.comment p {
	line-height: 160%;
}

img.gravatar {
	padding: 1px;
	border: 1px solid #95ABC3;
	float: left;
	display: inline;
}

div.fieldWithErrors {
	display: inline;
}

#new-comment-form div.fieldWithErrors input {
	border: 2px solid red; 
}

div.errorExplanation {
	background-color: #990000;
	border: 2px solid red;
	padding: 10px;	
}

#flash_notice {
	border: 1px solid #66CC00;
	background-color: green;
	padding: 10px;
	margin-bottom: 10px;
}

dt {
	color: #95ABC3;
}

dd {
	line-height: 150%;
	margin-bottom: 0.9em;
}

#new-comment-form {
	margin-top: 30px;
	-moz-border-radius: 9px; /* this works only in camino/firefox */
	-webkit-border-radius: 9px; /* this is just for Safari */
	background-color: #182945;
	padding: 15px 25px;
	width: 560px;
}

#new-comment-form label {
	font-size: 11px;
	line-height: 130%;
}


#new-comment-form input,#new-comment-form textarea {
	margin-top: 2px;
	border: 1px solid black;
	padding: 3px;
	font-size: 13px;
}

#new-comment-form .text_field {
width: 250px;	
}

a.delete-comment {
  background: url(/images/misc/recreate.gif) no-repeat;
  padding: 2px 4px 4px 18px;
  font-size: 8pt;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
	color: #95ABC3;
}