<h1>Codez</h1>

<div id="search">
  <%= render :partial => 'codes/search' %>
</div>

<%= will_paginate @codes %>

<% if @codes %>
  <ul>
    <%= render :partial => 'code', :collection => @codes %>
  </ul>
<% end %>

<%= will_paginate @codes %>

